<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments :: styles}"></th:block>
  </head>
  <body>
    <div th:insert="~{fragments :: navbar}"></div>

    <div class="container">
      <h1 class="text-center my-3">Best Movies</h1>

      <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" th:each="movie : ${movies}">
              <a
                th:href="@{'/movie/' + ${movie.id}}"
                th:text="${movie.title}"
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
