<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments :: styles}"></th:block></th:block>
  </head>
  <body>
     <div th:insert="~{fragments :: navbar}"></div>
    <h1 class="text-center my-3">Best Songs</h1>

        <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" th:each="song : ${songs}">
              <a
                th:href="@{'/song/' + ${song.id}}"
                th:text="${song.title}"
              ></a>
            </li>
          </ul>
        </div>
      </div>
      </div>
  </body>
</html>
